body {
  color: #4d4d4d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.alert {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radis: 0;
  border-radius: 0; }
  .alert.alert-warning {
    background: #fde258; }
  .alert.alert-danger {
    background: #e0435c;
    color: #fff; }
  .alert.alert-success {
    background: #54b268;
    color: #fff; }
  .alert .fa {
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    margin: 0 10px 0 0; }

p {
  margin-bottom: 15px;
  line-height: 16pt; }

ul li, ol li {
  margin-bottom: 15px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #574d95; }

input, textarea, .form-control {
  -webkit-border-radius: 0;
  -moz-border-radis: 0;
  border-radius: 0; }
  input:focus, textarea:focus, .form-control:focus {
    border-color: #574d95;
    outline: none;
    box-shadow: none; }

hr {
  clear: both;
  margin: 25px 0;
  border: none;
  background: #ddd;
  height: 1px; }

a, a:hover {
  text-decoration: none;
  color: #574d95; }

dl {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px; }
  dl dt {
    display: inline; }
  dl dd {
    display: inline; }

.center {
  display: table;
  margin: 0 auto; }

.label {
  font-size: 12px;
  font-weight: 300; }

.form-group.has-success .form-control {
  border-color: #54b268; }
.form-group.has-success label {
  color: #54b268; }
.form-group.has-error .form-control {
  border-color: #e0435c; }
.form-group.has-error label {
  color: #e0435c; }
.form-group.has-warning .form-control {
  border-color: #fde258; }
.form-group.has-warning label {
  color: #b99c05; }

.form-control {
  height: 40px; }
  .form-control.input-sm {
    height: 30px; }

@media only screen and (min-width: 960px) {
  .form-inline label.checkbox {
    padding-left: 0; } }

.form-inline .pull-right {
  float: none !important;
  width: 100%;
  display: block; }
  @media only screen and (min-width: 960px) {
    .form-inline .pull-right {
      float: right !important;
      width: auto;
      display: table; } }

label {
  font-family: "Montserrat", sans-serif; }

table th {
  font-family: "Montserrat", sans-serif;
  background: #f7f7f7; }

.btn {
  border: none;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radis: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  .btn.btn-sm {
    height: 30px; }
  .btn.btn-xs {
    height: 22px; }
  .btn.btn-primary {
    background: #574d95; }
    .btn.btn-primary:hover {
      background: #4d448a; }
  .btn.btn-default {
    background: #fff;
    border: solid 1px #ddd;
    color: #574d95; }
    .btn.btn-default:hover {
      background: #574d95;
      color: #fff;
      border-color: #574d95; }
  .btn.btn-lg {
    padding: 5px 35px;
    font-size: 14px; }
  .btn.btn-warning {
    background: #fde258;
    color: #352c00; }
    .btn.btn-warning:hover {
      background: #dfc025; }
  .btn.btn-danger {
    background: #e0435c;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #cb1d39; }
  .btn.btn-success {
    background: #54b268;
    color: #fff; }
    .btn.btn-success:hover {
      background: #299c41; }

label.checkbox, label.radio {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-left: 20px; }

nav.navbar {
  background: #eaeaea;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radis: 0;
  border-radius: 0; }
  nav.navbar > .container .navbar-header {
    padding: 10px;
    display: table;
    float: left; }
  nav.navbar > .container h1 {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle; }
    nav.navbar > .container h1 a {
      background: transparent url(../img/sgo-logo.png) 0 0 no-repeat;
      background-size: auto 100%;
      display: table;
      overflow: hidden;
      height: 40px;
      color: #574d95;
      font-size: 24px;
      text-transform: uppercase;
      padding: 0 0 0 40px;
      line-height: 40px;
      font-weight: 600; }
  nav.navbar > .container h2 {
    display: none;
    color: #574d95;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    height: 40px;
    line-height: 40px;
    vertical-align: middle; }
    @media only screen and (min-width: 960px) {
      nav.navbar > .container h2 {
        display: inline-block; } }
  nav.navbar > .container .navbar-nav {
    margin: 0 -15px;
    display: table;
    float: right;
    height: 60px;
    line-height: 38px;
    position: relative; }
    @media only screen and (min-width: 960px) {
      nav.navbar > .container .navbar-nav {
        margin: 0; } }
    nav.navbar > .container .navbar-nav li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    nav.navbar > .container .navbar-nav a {
      padding: 10px 15px;
      height: auto;
      line-height: inherit;
      display: block;
      font-size: 14px;
      color: #574d95;
      cursor: pointer;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out; }
      nav.navbar > .container .navbar-nav a:hover {
        background: #574d95;
        color: #fff; }
      @media only screen and (min-width: 960px) {
        nav.navbar > .container .navbar-nav a {
          height: 60px;
          padding: 0 20px;
          line-height: 44pt; } }
      nav.navbar > .container .navbar-nav a #username {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        float: left; }
        @media only screen and (min-width: 960px) {
          nav.navbar > .container .navbar-nav a #username {
            width: 120px; } }
    nav.navbar > .container .navbar-nav .dropdown-menu {
      background: #574d95;
      padding-top: 0;
      padding-bottom: 0;
      -webkit-border-radius: 0;
      -moz-border-radis: 0;
      border-radius: 0;
      position: absolute;
      right: 0;
      left: inherit; }
      nav.navbar > .container .navbar-nav .dropdown-menu li > a {
        padding: 10px;
        height: auto;
        line-height: inherit;
        color: #fff; }
        @media only screen and (min-width: 960px) {
          nav.navbar > .container .navbar-nav .dropdown-menu li > a {
            padding: 10px 15px; } }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background: #000;
  color: #fff; }

.navbar-toggle {
  background: none;
  color: #574d95;
  margin: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  .navbar-toggle:hover {
    background: #574d95; }
  .navbar-toggle .icon-bar {
    color: #574d95;
    background: #574d95;
    width: 26px; }
  .navbar-toggle:hover .icon-bar {
    color: #fff;
    background: #fff; }

.center {
  display: table;
  margin: 0 auto; }

.clear {
  clear: both; }

strong {
  font-family: "Montserrat", sans-serif; }

aside#sidebar {
  background: #fff;
  margin-bottom: 30px; }
  @media only screen and (min-width: 960px) {
    aside#sidebar {
      margin-bottom: 0; } }
  aside#sidebar h3 {
    padding: 0 0 10px;
    display: block;
    border-bottom: solid 3px #ddd;
    margin: 0; }
  aside#sidebar #sidebar-collapse {
    display: block;
    width: 100%; }
    @media only screen and (min-width: 960px) {
      aside#sidebar #sidebar-collapse {
        display: none; } }
  aside#sidebar .list-group {
    height: 0;
    overflow: hidden; }
    @media only screen and (min-width: 960px) {
      aside#sidebar .list-group {
        height: auto; } }
    aside#sidebar .list-group.open {
      height: auto; }
  aside#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    aside#sidebar ul li {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      aside#sidebar ul li a {
        background: none;
        border-bottom: solid 1px #ddd;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 15px 25px;
        color: #242424;
        display: block;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -webkit-border-radius: 0;
        -moz-border-radis: 0;
        border-radius: 0; }
        aside#sidebar ul li a:hover {
          background: #f7f7f7; }
      aside#sidebar ul li.active a, aside#sidebar ul li a.active {
        background: #f7f7f7; }
      aside#sidebar ul li:last-child a {
        border-bottom: none; }
      aside#sidebar ul li ul li a {
        padding-left: 40px;
        text-transform: none; }
  aside#sidebar .list-group {
    margin: 0; }

.breadcrumb {
  background: none;
  padding: 0 0 10px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;
  -webkit-border-radius: 0;
  -moz-border-radis: 0;
  border-radius: 0; }
  .breadcrumb li {
    margin: 0;
    padding: 0; }
  .breadcrumb a {
    color: #242424; }

.pagination > li > a, .pagination > li:first-child > a, .pagination > li:last-child > a {
  -webkit-border-radius: 0;
  -moz-border-radis: 0;
  border-radius: 0; }
.pagination > li > a {
  padding: 10px 15px;
  text-align: center;
  color: #242424;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  .pagination > li > a:hover, .pagination > li > a.active, .pagination > li > a:active {
    background: #574d95;
    color: #fff; }
.pagination > li.active a, .pagination > li.active a:hover, .pagination > li.active a:active {
  background: #574d95;
  color: #fff;
  border-color: #574d95; }

.general-search {
  background: #f7f7f7;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 25px; }

.checkbox-holder {
  max-height: 200px;
  overflow: auto;
  margin: 0 0 15px; }

.panel.oc-details .panel-heading {
  color: #574d95;
  font-size: 16px; }
.panel.oc-details .panel-body {
  padding: 0; }
  .panel.oc-details .panel-body dl {
    overflow: hidden;
    padding: 10px;
    border-bottom: solid 1px #ddd;
    margin: 0; }
    .panel.oc-details .panel-body dl:last-child {
      border-bottom: none; }
    .panel.oc-details .panel-body dl dt {
      display: block;
      width: 50%;
      float: left;
      font-size: 14px; }
      @media only screen and (min-width: 960px) {
        .panel.oc-details .panel-body dl dt {
          width: 30%; } }
    .panel.oc-details .panel-body dl dd {
      width: 50%;
      display: block;
      float: left;
      font-size: 14px; }
      @media only screen and (min-width: 960px) {
        .panel.oc-details .panel-body dl dd {
          width: 70%; } }

#product-list-manual > h3 {
  text-align: center;
  margin: 0 0 25px; }
#product-list-manual > h4 {
  text-align: center;
  margin: 10px 0 25px;
  color: #574d95; }
@media only screen and (min-width: 960px) {
  #product-list-manual .navbar-form {
    padding: 10px 0 !important; } }
#product-list-manual .navbar-form label {
  color: #574d95; }
#product-list-manual .navbar-form.navbar-top-actions {
  padding: 10px;
  overflow: hidden; }
  #product-list-manual .navbar-form.navbar-top-actions .form-group {
    display: block;
    width: 100%;
    float: none; }
    @media only screen and (min-width: 960px) {
      #product-list-manual .navbar-form.navbar-top-actions .form-group {
        margin: 0;
        width: auto;
        display: inline; } }
    #product-list-manual .navbar-form.navbar-top-actions .form-group .btn {
      width: 100%;
      text-align: center;
      margin: 0 0 10px; }
      @media only screen and (min-width: 960px) {
        #product-list-manual .navbar-form.navbar-top-actions .form-group .btn {
          width: auto;
          margin: 0; } }
    #product-list-manual .navbar-form.navbar-top-actions .form-group label {
      text-align: center;
      display: block;
      margin: 0 0 10px; }
      @media only screen and (min-width: 960px) {
        #product-list-manual .navbar-form.navbar-top-actions .form-group label {
          text-align: left;
          display: inline;
          margin: 0; } }
    #product-list-manual .navbar-form.navbar-top-actions .form-group:last-child .btn {
      margin-bottom: 0; }
#product-list-manual .navbar-form.navbar-bottom-actions {
  padding: 10px;
  text-align: center;
  overflow: hidden; }
  #product-list-manual .navbar-form.navbar-bottom-actions .form-group {
    display: block;
    width: 100%;
    float: none; }
    @media only screen and (min-width: 960px) {
      #product-list-manual .navbar-form.navbar-bottom-actions .form-group {
        margin: 0 10px 0 0;
        width: auto;
        display: inline; } }
  #product-list-manual .navbar-form.navbar-bottom-actions .btn {
    width: 100%;
    text-align: center;
    margin: 0 0 10px; }
    @media only screen and (min-width: 960px) {
      #product-list-manual .navbar-form.navbar-bottom-actions .btn {
        width: auto;
        margin: 0; } }
#product-list-manual .table input[type="checkbox"] {
  margin: 0;
  display: block;
  line-height: 16px;
  position: inherit; }
#product-list-manual .table label.checkbox {
  padding: 0;
  margin: 0;
  display: block; }
#product-list-manual .table .btn + .btn, #product-list-manual .table .label + .btn {
  margin: 0 2px; }
#product-list-manual > .navbar {
  background: none;
  min-height: 40px; }

#dte-list > h3 {
  text-align: center;
  margin: 0 0 20px; }
#dte-list > h4 {
  margin: 0 0 30px; }
#dte-list .table-factor > thead > tr > th {
  background: none;
  border: none;
  text-align: center; }
#dte-list .table-factor > tbody > tr > td {
  border-top: none;
  text-align: center; }
#dte-list .navbar-form {
  overflow: hidden;
  padding: 10px; }
  #dte-list .navbar-form .form-group {
    margin-bottom: 10px; }
  #dte-list .navbar-form label {
    color: #574d95; }
  #dte-list .navbar-form .help-block {
    font-size: 11px;
    margin: 0; }
#dte-list .form-actions {
  padding: 30px 0 0;
  clear: both; }
  #dte-list .form-actions .btn {
    margin: 0 10px; }

#collapse-glosary {
  background: #f7f7f7;
  padding: 10px;
  overflow: hidden;
  margin: 20px 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radis: 6px;
  border-radius: 6px; }

#login {
  background: #f7f7f7;
  display: block;
  overflow: hidden;
  padding: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radis: 6px;
  border-radius: 6px; }

#main-sidebar {
  display: block;
  overflow: hidden; }
  #main-sidebar > .btn {
    margin-bottom: 15px; }
  #main-sidebar #main-sidebar-list {
    margin-bottom: 20px; }
    @media only screen and (min-width: 960px) {
      #main-sidebar #main-sidebar-list.collapse, #main-sidebar #main-sidebar-list.collapse.in {
        display: block !important; } }
  #main-sidebar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radis: 6px;
    border-radius: 6px; }
    #main-sidebar ul li {
      display: block;
      margin: 0;
      padding: 0; }
      #main-sidebar ul li a {
        display: block;
        padding: 10px 15px;
        color: #574d95;
        background: #f7f7f7;
        border-bottom: solid 1px #ddd; }
        #main-sidebar ul li a:hover {
          background: #574d95;
          color: #fff; }
      #main-sidebar ul li:last-child a {
        border-bottom: none; }

ul.dropdown-menu li {
  margin: 0; }

.filtros {
  padding: 0 !important; }

.panel-group .panel {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none; }
.panel-group .panel-heading {
  border-bottom: solid 1px #ddd;
  padding: 0;
  margin: 0; }
  .panel-group .panel-heading h4 {
    display: block;
    margin: 0;
    padding: 0; }
    .panel-group .panel-heading h4 a {
      background: transparent;
      padding: 15px 20px;
      display: block;
      overflow: hidden;
      color: #574d95;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out; }
      .panel-group .panel-heading h4 a:hover {
        background: #574d95;
        color: #fff; }
.panel-group .panel-body {
  padding: 25px 15px; }
.panel-group .panel-collapse {
  border-bottom: none; }

/*# sourceMappingURL=style.css.map */
