$primary-font: "Montserrat", sans-serif;
$secondary-font: Helvetica, Arial, sans-serif;

$primary-color: #574d95;
$secondary-color: #000;

$desktop: "only screen and (min-width: 960px)";
$tablet: "only screen and (min-width: 720px)";
$mobile: "only screen and (min-width: 480px)";
$print: "only print";

@mixin border-radius ($radius){
-webkit-border-radius: $radius;
-moz-border-radis: $radius;
border-radius: $radius;
}

@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition ($transition) {
	-webkit-transition: $transition 0.1s ease-in-out;  
	-moz-transition: $transition 0.1s ease-in-out; 
	-ms-transition: $transition 0.1s ease-in-out; 
	-o-transition:  $transition 0.1s ease-in-out; 
}

body{
	color:#4d4d4d;
	font-family: $primary-font;
	font-size:14px;
}

.alert{
	border:none;
	@include border-radius(0);
	&.alert-warning{
		background:#fde258;
	}
	&.alert-danger{
		background:#e0435c;
		color:#fff;
	}
	&.alert-success{
		background:#54b268;
		color:#fff;
	}
	.fa{
		font-size: 20px;
		width:20px;
		height:20px;
		display: block;
		float: left;
		text-align: center;
		margin: 0 10px 0 0;
	}
}
p{
	margin-bottom:15px;
	line-height:16pt;
}
ul li, ol li{
	margin-bottom:15px;
}
h1,h2,h3,h4,h5,h6{
	font-family: $primary-font;
	color:$primary-color;
}
input, textarea, .form-control{
	@include border-radius(0);
	&:focus{
		border-color:$primary-color;
		outline:none;
		box-shadow:none;
	}
}
hr{
	clear:both;
	margin:25px 0;
	border:none;
	background:#ddd;
	height:1px;
}
a, a:hover{
	text-decoration: none;
	color: $primary-color;
}
dl{
	overflow:hidden;
	clear:both;
	margin-bottom:10px;
	dt{
		display: inline;
	}
	dd{
		display: inline;
	}
}
.center{
	display:table;
	margin:0 auto;
}
.label{
	font-size: 12px;
	font-weight:300;
}
.form-group{
	&.has-success{
		.form-control{
			border-color:#54b268;
		}
		label{
			color:#54b268;
		}
	}
	&.has-error{
		.form-control{
			border-color:#e0435c;
		}
		label{
			color:#e0435c;
		}
	}
	&.has-warning{
		.form-control{
			border-color:#fde258;
		}
		label{
			color:#b99c05;
		}
	}
}
.form-control{
	height:40px;
	&.input-sm{
		height:30px;
	}
}
.form-inline label.checkbox{
	@media #{$desktop}{
		padding-left:0;
	}
}
.form-inline .pull-right{
	float:none !important;
	width:100%;
	display: block;
	@media #{$desktop}{
		float:right !important;
		width:auto;
		display: table;
	}
}
label{
	font-family:$primary-font;
}
table{
	th{
		font-family: $primary-font;
		background:#f7f7f7;
	}
}
.btn{
	border:none;
	height:40px;
	@include border-radius(4px);
	@include transition(all);
	&.btn-sm{
		height:30px;
	}
	&.btn-xs{
		height:22px;
	}
	&.btn-primary{
		background: $primary-color;
		&:hover{
			background:#4d448a;
		}
	}
	&.btn-default{
		background:#fff;
		border:solid 1px #ddd;
		color: $primary-color;
		&:hover{
			background:$primary-color;
			color:#fff;
			border-color: $primary-color;
		}
	}
	&.btn-lg{
		padding:5px 35px;
		font-size: 14px;
	}
	&.btn-warning{
		background:#fde258;
		color:#352c00;
		&:hover{
			background:#dfc025;
		}
	}
	&.btn-danger{
		background:#e0435c;
		color:#fff;
		&:hover{
			background:#cb1d39;
		}
	}
	&.btn-success{
		background:#54b268;
		color:#fff;
		&:hover{
			background: #299c41;
		}
	}
}
label.checkbox, label.radio{
	font-family: $secondary-font;
	font-weight: normal;
	padding-left: 20px;
}
nav.navbar{
	background:#eaeaea;
	border:none;
	@include border-radius(0);
	>.container{
		.navbar-header{
			padding:10px;
			display: table;
			float:left;
		}
		h1{
			margin:0 10px 0 0;
			padding:0;
			display: inline-block;
			vertical-align: middle;
			a{
				background: transparent url(../img/sgo-logo.png) 0 0 no-repeat;
				background-size: auto 100%;
				display: table;
				overflow: hidden;
				height:40px;
				color: $primary-color;
				font-size: 24px;
				text-transform: uppercase;
				padding:0 0 0 40px;
				line-height: 40px;
				font-weight: 600;
			}
		}
		h2{
			display: none;
			color: $primary-color;
			font-size: 18px;
			font-weight:300;
			margin:0;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			@media #{$desktop}{
				display: inline-block;
			}
		}
		.navbar-nav{
			margin:0 -15px;
			display: table;
			float:right;
			height:60px;
			line-height: 38px;
			position:relative;
			@media #{$desktop}{
				margin:0;
			}
			li{
				list-style-type: none;
				margin:0;
				padding:0;
			}
			a{
				padding:10px 15px;
				height:auto;
				line-height: inherit;
				display: block;
				font-size: 14px;
				color:$primary-color;
				cursor: pointer;
				@include transition(all);
				&:hover{
					background:$primary-color;
					color:#fff;
				}
				@media #{$desktop}{
					height: 60px;
					padding:0 20px;
					line-height: 44pt;
				}
				#username{
					width:100%;
					text-overflow:ellipsis;
					overflow:hidden;
					white-space: nowrap;
					display: block;
					float:left;
					@media #{$desktop}{
						width:120px;
					}
				}
			}
			.dropdown-menu{
				background:$primary-color;
				padding-top:0;
				padding-bottom:0;
				@include border-radius(0);
				position:absolute;
				right:0;
				left:inherit;
				li > a{
					padding:10px;
					height:auto;
					line-height: inherit;
					color:#fff;
					@media #{$desktop}{
						padding:10px 15px;
					}
				}
			}
		}
	}
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background:#000;
	color:#fff;
}
.navbar-toggle{
	background:none;
	color:$primary-color;
	margin:0;
	@include transition(all);
	&:hover{
		background:$primary-color;
	}
	.icon-bar{
		color:$primary-color;
		background:$primary-color;;
		width:26px;
	}
	&:hover .icon-bar{
		color:#fff;
		background:#fff;
	}
}
.center{
	display:table;
	margin:0 auto;
}
.clear{
	clear:both;
}
strong{
	font-family:$primary-font;
}
aside#sidebar{
	background:#fff;
	margin-bottom: 30px;
	@media #{$desktop}{
		margin-bottom: 0;
	}
	h3{
		padding:0 0 10px;
		display: block;
		border-bottom:solid 3px #ddd;
		margin:0;
	}
	#sidebar-collapse{
		display: block;
		width: 100%;
		@media #{$desktop}{
			display: none;
		}
	}
	.list-group{
		height:0;
		overflow:hidden;
		@media #{$desktop}{
			height:auto;
		}
		&.open{
			height:auto;
		}
	}
	ul{
		list-style-type: none;
		padding:0;
		margin:0;
		li{
			list-style-type: none;
			padding:0;
			margin:0;
			a{
				background:none;
				border-bottom:solid 1px #ddd;
				border-top:none;
				border-left:none;
				border-right:none;
				padding:15px 25px;
				color:#242424;
				display: block;
				@include transition(all);
				@include border-radius(0);
				&:hover{
					background:#f7f7f7;
				}
			}
			&.active a, a.active{
				background:#f7f7f7;
			}
			&:last-child{
				a{
					border-bottom:none;
				}
			}
			ul li a{
				padding-left:40px;
				text-transform: none;
			}
		}
	}
	.list-group{
		margin:0;
	}
}
.breadcrumb{
	background:none;
	padding:0 0 10px;
	border-bottom:solid 1px #ddd;
	margin-bottom: 30px;
	@include border-radius(0);
	li{
		margin:0;
		padding:0;
	}
	a{
		color:#242424;
	}
}
.pagination{
	>li>a, >li:first-child > a, >li:last-child > a{
		@include border-radius(0);
	}
	>li{
		> a{
		padding:10px 15px;
		text-align: center;
		color:#242424;
		@include transition(all);
			&:hover,&.active, &:active{
				background:$primary-color;
				color:#fff;
			}
		}
		&.active a, &.active a:hover, &.active a:active{
			background:$primary-color;
			color:#fff;
			border-color: $primary-color;
		}
	}
}
.general-search{
	background:#f7f7f7;
	overflow:hidden;
	padding:15px;
	margin-bottom:25px;
}
.checkbox-holder{
	max-height:200px;
	overflow:auto;
	margin: 0 0 15px;
}
.panel.oc-details{
	.panel-heading{
		color:$primary-color;
		font-size: 16px;
	}
	.panel-body{
		padding:0;
		dl{
			overflow: hidden;
			padding:10px;
			border-bottom:solid 1px #ddd;
			margin:0;
			&:last-child{
				border-bottom:none;
			}
			dt{
				display: block;
				width:50%;
				float:left;
				font-size: 14px;
				@media #{$desktop}{
					width:30%;
				}
			}
			dd{
				width:50%;
				display: block;
				float:left;
				font-size: 14px;
				@media #{$desktop}{
					width:70%;
				}
			}
		}
	}
}
#product-list-manual{
	>h3{
		text-align: center;
		margin:0 0 25px;
	}
	> h4{
		text-align: center;
		margin:10px 0 25px;
		color: $primary-color;
	}
	.navbar-form{
        @media #{$desktop}{
            padding: 10px 0 !important;
        }
		label{
			color:$primary-color;
		}
		&.navbar-top-actions{
			padding:10px;
			overflow: hidden;
			.form-group{
				display: block;
				width:100%;
				float:none;
				@media #{$desktop}{
					margin:0;
					width:auto;
					display: inline;
				}
				.btn{
					width:100%;
					text-align: center;
					margin:0 0 10px;
					@media #{$desktop}{
						width:auto;
						margin:0;
					}
				}
				label{
					text-align: center;
					display: block;
					margin:0 0 10px;
					@media #{$desktop}{
						text-align: left;
						display: inline;
						margin:0;
					}
				}
				&:last-child .btn{
					margin-bottom: 0;
				}
			}
		}
		&.navbar-bottom-actions{
			padding:10px;
			text-align: center;
			overflow: hidden;
			.form-group{
				display: block;
				width:100%;
				float:none;
				@media #{$desktop}{
					margin:0 10px 0 0;
					width:auto;
					display: inline;
				}
			}
			.btn{
				width:100%;
				text-align: center;
				margin:0 0 10px;
				@media #{$desktop}{
					width:auto;
					margin:0;
				}
			}
		}
	}
	.table{
		input[type="checkbox"]{
			margin:0;
			display: block;
			line-height: 16px;
			position: inherit;
		}
		label.checkbox{
			padding:0;
			margin:0;
			display: block;
		}
		.btn + .btn, .label + .btn{
			margin:0 2px;
		}
	}
	> .navbar{
		background: none;
		min-height: 40px;
	}
}
#dte-list{
	>h3{
		text-align: center;
		margin:0 0 20px;
	}
	>h4{
		margin:0 0 30px;
	}
	.table-factor{
		>thead>tr>th{
			background:none;
			border:none;
			text-align: center;
		}
		>tbody>tr>td{
			border-top:none;
			text-align: center;
		}
	}
	.navbar-form{
		overflow: hidden;
		padding:10px;
		.form-group{
			margin-bottom: 10px;
		}
		label{
			color:$primary-color;
		}
		.help-block{
			font-size: 11px;
			margin:0;
		}
	}
	.form-actions{
		padding:30px 0 0;
		clear:both;
		.btn{
			margin:0 10px;
		}
	}
}
#collapse-glosary{
	background:#f7f7f7;
	padding:10px;
	overflow:hidden;
	margin:20px 0 0;
	@include border-radius(6px);
}
#login{
	background: #f7f7f7;
	display:block;
	overflow:hidden;
	padding:25px;
	@include border-radius(6px);
}
#main-sidebar{
	display:block;
	overflow:hidden;
	> .btn{
		margin-bottom: 15px;
	}
	#main-sidebar-list{
		margin-bottom: 20px;
		&.collapse, &.collapse.in{
			@media #{$desktop}{
				display: block !important;
			}
		}
	}
	ul{
		padding:0;
		margin:0;
		overflow: hidden;
		@include border-radius(6px);
		li{
			display: block;
			margin:0;
			padding:0;
			a{
				display: block;
				padding:10px 15px;
				color: $primary-color;
				background: #f7f7f7;
				border-bottom:solid 1px #ddd;
				&:hover{
					background: $primary-color;
					color:#fff;
				}
			}
			&:last-child a{
				border-bottom:none;
			}
		}
	}
}
ul.dropdown-menu{
    li{
        margin:0;
    }
}
.filtros{
	padding:0 !important;
}
.panel-group{
	.panel{
		border:none;
		box-shadow:none;
		-webkit-box-shadow: none;
	}
	.panel-heading{
		border-bottom:solid 1px #ddd;
		padding:0;
		margin:0;
		h4{
			display: block;
			margin:0;
			padding:0;
			a{
				background: transparent;
				padding:15px 20px;
				display: block;
				overflow: hidden;
				color:$primary-color;
				@include transition(all);
				&:hover{
					background: $primary-color;
					color:#fff;
				}
			}
		}
	}
	.panel-body{
		padding:25px 15px;
	}
	.panel-collapse{
		border-bottom:none;
	}
}